<header>
    <div class="wrapper">

          <div class="brand-logo">
            <img src="../../assets/Producto_Skateboard/Logotipo_Ruberik.png" alt="">
          </div>

          <div class="icon-list-container">
            <ul class="icon-list">
              <li>
                <a class="fas fa-user" routerLink='/signin'></a></li>
              <li>
                <a class="fas fa-shopping-cart position-relative" href='/shop/cart'>
                  <span class="item-count">2</span>
                </a>
              </li>
            </ul>
          </div>

      </div>
      <hr class="separator">
      <app-navbar></app-navbar>
</header>



