<header>
    <div class="wrapper">

          <div class="brand-text">
            <p class="text-center">D' Chiripa<br>Skateboards<p>
          </div>

          <div class="icon-list-container">
            <ul class="icon-list">
              <li>
                <a class="fas fa-user"></a></li>
              <li>
                <a class="fas fa-shopping-cart position-relative">
                  <span class="item-count">2</span>
                </a>
              </li>
            </ul>
          </div>

      </div>
      <hr class="separator">
      <app-navbar></app-navbar>
</header>



