<footer>
  <div class="footer-wrapper">
    <div class="footer-nav">
      <p>Navegación</p>
      <li><a href='/home'>Inicio</a></li>
      <li><a href='/shop'>Tienda</a></li>
      <li><a href='/about'>Nosotros</a></li>
      <li><a href='/contact'>Contacto</a></li>
    </div>
    <ul class="contact-info">
      <p class="contact-info-title">Info. de Contacto</p>
      <li>
          <i class="fas fa-map-marker-alt"></i>
          <p>Corregidora, Reforma Agraria 76900 Querétaro, Qro.</p>
      </li>
      <li>
          <i class="fas fa-phone-alt"></i>
          <p>442-218-2525</p>
      </li>
      <li>
        <i class="fas fa-envelope"></i>
        <p>erika.saenz.dg@gmail.com</p>
      </li>
    </ul>
  </div>
  <span>Copyright ©2019 All rights reserved | D'Chiripa Skateboarding</span>
</footer>
