<app-label [routeName]="routeName"></app-label>

<div class="contact-wrapper">
  <form action="/" method="post">
    <div class="p-3 p-lg-5 border">
      <div class="form-group row">
        <div class="col-md-6">
          <label for="c_fname" class="text-black"
            >Nombre(s)<span class="text-danger">*</span></label
          >
          <input type="text" class="form-control" id="c_fname" name="c_fname" />
        </div>
        <div class="col-md-6">
          <label for="c_lname" class="text-black"
            >Apellidos<span class="text-danger">*</span></label
          >
          <input type="text" class="form-control" id="c_lname" name="c_lname" />
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-12">
          <label for="c_email" class="text-black"
            >Email <span class="text-danger">*</span></label
          >
          <input
            type="email"
            class="form-control"
            id="c_email"
            name="c_email"
            placeholder=""
          />
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-12">
          <label for="c_subject" class="text-black">Telefono </label>
          <input
            type="tel"
            class="form-control"
            id="c_subject"
            name="c_subject"
          />
        </div>
      </div>

      <div class="form-group row">
        <div class="col-md-12">
          <label for="c_message" class="text-black">Mensaje </label>
          <textarea
            name="c_message"
            id="c_message"
            cols="30"
            rows="4"
            class="form-control"
          ></textarea>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-lg-12">
          <input
            type="submit"
            class="btn btn-primary btn-lg btn-block"
            value="Enviar Mensaje"
          />
        </div>
      </div>
    </div>
  </form>

  <div class="contact-social">
    <div class="social-text">
      <h3>Estamos Comprometidos con la Calidad</h3>
      <p>Puedes usar cualquiera de nuestros medios de contacto</p>
      <span>Si quieres contactarnos via Whatsapp o Facebook solo haz click en el
        icono</span>
    </div>
    <div class="social-icon">
        <a class="fab fa-facebook" href="https://www.facebook.com/Ruberik-Skateboarding-107009350693949/" target="_blank"></a>
        <a class="fab fa-whatsapp" href="https://web.whatsapp.com/send?phone=524423867262&amp;text=Hola%20vengo%20de%20la%20tienda%20de%20skateboards,%20me%20interesa%20ponerme%20en%20contacto%20con%20ustedes." target="_blank" ></a>
    </div>
  </div>
</div>
