<div class="container-fluid">
  <div class="content-wrapper">

    <div class="item-container">
      <div class="container product-wrapper">

        <div class="product-images">
          <img [style.height]="trucks ? '8em' : 'auto'" [src]="productImage1" alt="frente">
          <img [src]="productImage2" *ngIf="productImage2" alt="vuelta">
        </div>

        <div class="col-md-7">
          <div class="product-title">{{productName}}</div>
          <div class="product-desc">
            {{productDesc}}
          </div>

          <hr />
          <div class="product-price">{{productPrice | currency}}</div>
          <div class="product-stock">En Stock</div>
          <hr />
          <div class="btn-group cart">
            <button [disabled]="!user" (click)="pushToCart()" type="button" class="btn btn-success">
              Añadir al Carrito
            </button>
          </div>
          <h4 *ngIf="!user">*Inicia Sesión Para Poder Comprar</h4>
        </div>
      </div>
    </div>

    <hr>
    <div class="product-desc">
      <h3>Detalles</h3>
      <li>{{productSize}}</li>
      <li>{{productExtra}}</li>
    </div>

  </div>
</div>
