<div class="container-fluid">
  <div class="content-wrapper">

    <div class="item-container">
      <div class="container product-wrapper">

        <div class="product-images">
          <img src="../../assets/Producto_Skateboard/Almost_DaewonSong_Frente.png" alt="frente">
          <img src="../../assets/Producto_Skateboard/Almost_DaewonSong_Vuelta.png" alt="vuelta">
        </div>

        <div class="col-md-7">
          <div class="product-title">Daewon Song Fragments</div>
          <div class="product-desc">
            Este diseño de tabla Daewon Song combina lo abstracto con diferentes fotografias. Sin duda un diseño unico
          </div>

          <hr />
          <div class="product-price">$ 1,200.00</div>
          <div class="product-stock">En Stock</div>
          <hr />
          <div class="btn-group cart">
            <button type="button" class="btn btn-success">
              Añadir al Carrito
            </button>
          </div>
        </div>

      </div>
    </div>

    <hr>
    <div class="product-desc">
      <h3>Detalles</h3>
      <li>Almost Skateboards Daewon Song Fragments</li>
      <li>Medida: 8.25"</li>
      <li>INCLUYE LIJA</li>
    </div>

  </div>
</div>
