<header>
    <div class="wrapper">

          <div class="brand-logo">
            <img src="../../assets/images/Producto_Skateboard/Logotipo_Ruberik.png" alt="">
            <a class="brand-text">D'Chiripa Skateboarding</a>
          </div>

          <div class="icon-list-container">
            <ul class="icon-list">
              <li *ngIf="user; else notAuth">
                <a class="displayName" (click)="logout()">
                  Cerrar Sesión
                </a>
              </li>

              <ng-template #notAuth>
                  <li>
                      <a class="fas fa-user" routerLink='/signin'></a>
                  </li>
              </ng-template>
              <li>
                <a class="fas fa-shopping-cart position-relative" routerLink='/cart'>
                  <span class="item-count">{{itemCount$ | async}}</span>
                </a>
              </li>
            </ul>
          </div>

      </div>
      <hr class="separator">
      <app-navbar></app-navbar>
</header>



