<app-label [routeName]='routeName'></app-label>
<div class="container">

  <div class="us-image">
    <img src="../../assets/images/skateboard-us.jpg" alt="Nosotros en el skateboard">
  </div>

    <h1 class="desc">
      Somos un grupo de personas residentes del estado de Quéretaro apasionados por el skateboard o patinaje.
      Vendemos desde tablas, trucks y ruedas, todo lo que necesitas para armar tu propio skateboard.
      No importa si eres prinicipiante o avanzado los diseños unicos de las tablas, los trucks y las ruedas seguro
      te atraparan y querras incluirte en este hermoso deporte que es el skateboard.
    </h1>

      <div class="botones">
        <a routerLink="/shop" class="btn btn-lg btn-primary">Ir a la Tienda</a>
        <a routerLink="/contact" class="btn btn-lg btn-outline-primary">Contáctanos!</a>
      </div>
</div>
