nav{
  height: 1em;
}

.nav-list{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.5em;
  padding-top: 1em;
}

.nav-list li a{
  margin-right: 12px !important;
  cursor: pointer;
}

@media screen and (max-width: 550px){
  .nav-list{
    background-color: #f6f6f6;
    position: relative;
    width: 100vw;
    z-index: 10;
  }
}

