<app-label [routeName]='routeName'></app-label>
<div class="container">

  <div class="row">

    <div class="col-lg-3">

      <h1 class="my-4">Categorias</h1>
      <div class="list-group">
        <a *ngFor="let item of categorias">{{item}}</a>
      </div>

    </div>
    <!-- /.col-lg-3 -->

    <div class="col-lg-9">


      <div class="row">

        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card h-100">
            <a href="/product/details">
              <img class="item-img" src="../../assets/Producto_Skateboard/Almost_LewisMarnell_Frente.png"  alt="">
              <img class="item-img" src="../../assets/Producto_Skateboard/Almost_LewisMarnell_Vuelta.png"  alt="">
            </a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="/product/details">Almost Lewis</a>
              </h4>
              <h5>$1,200.00</h5>
            </div>

          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#">
                <img class="item-img" src="../../assets/Producto_Skateboard/Blind_McEntire_Frente.png"  alt="">
                <img class="item-img" src="../../assets/Producto_Skateboard/Blind_McEntire_Vuelta.png"  alt="">
              </a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Blind McEntire</a>
                </h4>
                <h5>$1,200.00</h5>
              </div>

          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#">
                <img class="item-img" src="../../assets/Producto_Skateboard/Creature_TeamGust_Frente.png"  alt="">
                <img class="item-img" src="../../assets/Producto_Skateboard/Creature_TeamGust_Vuelta.png"  alt="">
              </a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Creature TeamGust</a>
                </h4>
                <h5>$1,200.00</h5>
              </div>

          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#">
                <img class="item-img" src="../../assets/Producto_Skateboard/Plan_B_Duffy_Frente.png"  alt="">
                <img class="item-img" src="../../assets/Producto_Skateboard/Plan_B_Duffy_Vuelta.png"  alt="">
              </a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Plan B Duffy</a>
                </h4>
                <h5>$1,200.00</h5>
              </div>

          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#">
                <img class="item-img" src="../../assets/Producto_Skateboard/Plan_B_FelipeGustavo_Frente.png"  alt="">
                <img class="item-img" src="../../assets/Producto_Skateboard/Plan_B_FelipeGustavo_Vuelta.png"  alt="">
              </a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Plan B Felipe Gustavo</a>
                </h4>
                <h5>$1,200.00</h5>
              </div>

          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#">
                <img class="item-img" src="../../assets/Producto_Skateboard/Almost_DaewonSong_Frente.png"  alt="">
                <img class="item-img" src="../../assets/Producto_Skateboard/Almost_DaewonSong_Vuelta.png"  alt="">
              </a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Almost Daewon Song</a>
                </h4>
                <h5>$1,200.00</h5>
              </div>

          </div>
        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.col-lg-9 -->

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->
