.item-img{
  height: 8em;
}

.card a{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.categories{
  cursor: pointer;
  text-decoration: underline !important;
  color: blue !important;
}
