<app-label [routeName]='routeName'></app-label>
<div class="container">

  <div class="row">

    <div class="col-lg-3">

      <h1 class="my-4">Categorias</h1>
      <div class="list-group">
        <a class="categories" routerLink = "/shop/tablas">Tablas</a>
        <a class="categories" routerLink = "/shop/ruedas">Ruedas</a>
        <a class="categories" routerLink = "/shop/trucks">Trucks</a>
        <a class="categories" routerLink = "/shop/tornillos">Tornillos</a>
        <a class="categories" routerLink = "/shop/elevadores">Elevadores</a>
        <a class="categories" routerLink = "/shop/tennis">Tennis</a>
        <a class="categorias" routerLink = "/shop/gorras">Gorras</a>
        <a class="categorias" routerLink = "/shop/ceras">Ceras</a>
      </div>

    </div>
    <!-- /.col-lg-3 -->

    <div class="col-lg-9">


      <div class="row">

        <div *ngFor='let item of productRender' class="col-lg-4 col-md-6 mb-4">
          <div class="card h-100">
            <a [routerLink]="'/product/' + item.id">
              <img [style.height]="trucks ? '4em' : '8em'" class="item-img" [src]="item.image1"  alt="">
              <img class="item-img" [src]="item.image2"  alt="">
            </a>
            <div class="card-body">
              <h4 class="card-title">
                <a [routerLink]="'/product/' + item.id">{{item.name}}</a>
              </h4>
              <h5>{{item.price | currency}}</h5>
            </div>

          </div>
        </div>

        <div *ngIf='productRender.length === 0' class="col-lg-12 col-md-12 mb-4 mt-4">
            <h4>No hay productos disponibles para esta Categoria</h4>
            <p>Selecciona Otra Categoria para continuar</p>
        </div>

      </div>
      <!-- /.row -->
    </div>
    <!-- /.col-lg-9 -->

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->
