<app-label [routeName]='routeName'></app-label>
<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->

      <!-- Icon -->
      <div class="fadeIn first">
        <h3 class="login-icon">D'Chiripa Skateboards</h3>
      </div>

      <!-- Login Form -->
      <form>
        <input [(ngModel)]='email' type="text" id="login" class="fadeIn second" name="login" placeholder="Email">
        <input [(ngModel)]='password' type="password" id="password" class="fadeIn third" name="login" placeholder="Contraseña">
        <input (click)='sendSignData()' type="submit" class="fadeIn fourth" value="Log In">
      </form>

      <!-- Remind Passowrd -->
      <div id="formFooter">
        <span>¿Aun no tienes una cuenta?<br></span>
        <a class="underlineHover" routerLink="/signin/register">Registrate</a>
      </div>

    </div>
  </div>
