<div class="container">
  <div>
    <input [(ngModel)]="id" type="text" placeholder="Id">
    <input [(ngModel)]="cat" type="text" placeholder="Categoria">
    <input [(ngModel)]="name" type="text" placeholder="Nombre">
    <input [(ngModel)]="price" type="number" placeholder="Precio">
    <input [(ngModel)]="description" type="text" placeholder="Descripción">
    <input [(ngModel)]="image1" type="text" placeholder="URL IMAGEN 1">
    <input [(ngModel)]="image2" type="text" placeholder="URL IMAGEN 2">
    <input [(ngModel)]="medida" type="text" placeholder="Medida">
    <input [(ngModel)]="extras" type="text" placeholder="Extras">
    <button (click)="addProduct()" class="btn btn-sm btn-success-outline">Agregar</button>
  </div>
  <p>Las categorias pueden ser: Ceras, Trucks, Tornillos, Ruedas, Elevadores, Tablas, Tennis ó Gorras</p>
</div>
