
<div class="product-wrapper">
  <div class="title">
    <h3>Productos Nuevos</h3>
  </div>
  <div class="productos">
    <div class="product-item" *ngFor="let item of featured">
      <span class="product-details">
        <div class="product-detail-wrapper">
            <p>{{item.name}}</p>
            <p>{{item.price | currency}}</p>
            <a [routerLink]="'/product/' + item.id" class="btn btn-primary">Comprar Ahora</a>
        </div>
      </span>
      <img class="product-img" [src]="item.image1" alt="">
    </div>
  </div>
</div>

