<hr>
<h3 class="shop-banner-title">Visita nuestra tienda</h3>
<div class="shop-banner-box">
  <div class="image-box">
    <img src="../../../assets/images/skate-go.jpg" alt="dont go skating" />
  </div>
  <div class="text-box">
    <h3>No te vayas sin ver todos nuestros productos</h3>
    <p>Los mejores diseños en tablas, ruedas y trucks a los mejores precios. Estamos 100% comprometidos con la pasión del skateboard</p>
    <button class="btn btn-primary btn-lg">Ir a la Tienda</button>
  </div>
</div>

