<app-label [routeName]='routeName'></app-label>
<div class="card">
  <table class="table table-hover shopping-cart-wrap">
  <thead class="text-muted">
  <tr>
    <th scope="col">Product</th>
    <th scope="col" width="120">Quantity</th>
    <th scope="col" width="120">Price</th>
    <th scope="col" width="200" class="text-right">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
  <figure class="media">
    <div class="img-wrap"><img src="../../assets/images/Producto_Skateboard/Blind_McEntire_Frente.png" class="img-thumbnail img-sm"></div>
    <figcaption class="media-body">
      <h6 class="title text-truncate">Blind McEntire</h6>
      <dl class="param param-inline small">
        <dt>Descripción</dt>
        <dd>Blind McEntire Odyssey
          Medida: 8.0"
          INCLUYE LIJA</dd>
      </dl>
    </figcaption>
  </figure>
    </td>
    <td>
      <select class="form-control">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
    </td>
    <td>
      <div class="price-wrap">
        <var class="price">$1,200.00</var>
        <small class="text-muted">MXN</small>
      </div> <!-- price-wrap .// -->
    </td>
    <td class="text-right">
    <a href="" class="btn btn-outline-danger"> × Remove</a>
    </td>
  </tr>
  <tr>
    <td>
  <figure class="media">
    <div class="img-wrap"><img src="../../assets/images/Producto_Skateboard/Plan_B_Duffy_Frente.png" class="img-thumbnail img-sm"></div>
    <figcaption class="media-body">
      <h6 class="title text-truncate">Plan B Duffy</h6>
      <dl class="param param-inline small">
        <dt>Descripción</dt>
        <dd>Plan B Pat Duffy Wavy Black Ice
          Medida: 8.25"
          INCLUYE LIJA</dd>
      </dl>

    </figcaption>
  </figure>
    </td>
    <td>
      <select class="form-control">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
    </td>
    <td>
      <div class="price-wrap">
        <var class="price">$1,200.00</var>
        <small class="text-muted">MXN</small>
      </div> <!-- price-wrap .// -->
    </td>
    <td class="text-right">
    <a href="" class="btn btn-outline-danger btn-round"> × Remove</a>
    </td>
  </tr>

  </tbody>
  </table>
  </div> <!-- card.// -->

  <div class="paypal"></div>



