<div class="product-wrapper">
  <div class="title">
    <h3>Productos Nuevos</h3>
  </div>
  <div class="productos">
    <div class="product-item">
      <span class="product-details">
        <div class="product-detail-wrapper">
            <p>Daewon Song</p>
            <p>$1,200.00</p>
            <button class="btn btn-primary">Comprar Ahora</button>
        </div>
      </span>
      <img class="product-img" src="../../assets/Producto_Skateboard/Almost_DaewonSong_Frente.png" alt="">
    </div>
    <div class="product-item">
      <span class="product-details">
          <div class="product-detail-wrapper">
              <p>Daewon Song</p>
              <p>$1,200.00</p>
              <button class="btn btn-primary">Comprar Ahora</button>
          </div>
      </span>
      <img class="product-img" src="../../assets/Producto_Skateboard/Almost_LewisMarnell_Frente.png" alt="">
    </div>
    <div class="product-item">
      <span class="product-details">
          <div class="product-detail-wrapper">
              <p>Daewon Song</p>
              <p>$1,200.00</p>
              <button class="btn btn-primary">Comprar Ahora</button>
          </div>
      </span>
      <img class="product-img" src="../../assets/Producto_Skateboard/Blind_McEntire_Frente.png" alt="">
    </div>
  </div>
</div>
