.product-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title
{
  width: 100vw;
  text-align: center;
}

.productos{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 30em;
}

.product-item{
  border: 1px solid black;
  border-radius: 5px;
  height: 25em;
  width: 20em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.product-item img{
  object-fit: cover;
  width: auto;
  height: 90%;
  transition: 0.3s;
}

.product-details{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  z-index: 2;
  transition: background-color 0.5s;
  opacity: 0;
}

.product-detail-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  bottom: 2em;
  height: 100%;
  width: 100%;
}

.product-details p{
  color: white;
  font-size: 1em;
  font-weight: bold;
  text-shadow: 2px 2px 10px black;
}

.product-item:hover > .product-details{
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.4);
}

.product-item:hover > .product-img{
  transform: scale(1.1);
}
