<div *ngIf="user" class="bg-light py-3 title-label">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mb-0">
          <p>Bienvenido <strong>{{user.displayName}}</strong></p>
        </div>
      </div>
    </div>
</div>

<div class="hero">
  <div class="hero-text">
    <h3>Avientate al vacio</h3>
    <p>
      En el skate no hay principio ni final.<br>Solo la Adrenalina de hacerlo
    </p>
    <a class="btn btn-sm btn-primary" routerLink = "/shop/tablas">Ir a la Tienda</a>
  </div>
</div>
